extends /layouts/default

block beforehtml
  - const title = '第一類接觸'

block style
  meta(property="fb:app_id", content="2133031763635285")
  meta(property="og:description", content="桌遊「第一類接觸 First Contact」的工具程式")
  meta(property="og:image:height", content="640")
  meta(property="og:image:width", content="1280")
  meta(property="og:image", content="https://i.imgur.com/8IMnSVx.png")
  meta(property="og:locale", content="zh_TW")
  meta(property="og:site_name", content="筆記國度")
  meta(property="og:title", content=title)
  meta(property="og:type", content="website")
  meta(property="og:url", content="https://taichunmin.idv.tw/pug/boardgame-first-contact.html")
  style
    :sass
      [v-cloak]
        display: none
      body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
        font-family: 'Noto Sans TC', sans-serif
      .symbol
        background-position: center
        background-repeat: no-repeat
        background-size: contain
        padding-top: 100%
      .table-col-5 td
        width: 20%
        max-width: 20%
      h5.modal-title > .symbol
        height: 26px
        padding-top: 0
        vertical-align: sub
        width: 26px
      .font-sm
        font-size: 80%
      #page-alien1
        td
          position: relative
        td > i.fa.fa-eye
          position: absolute
          right: .25rem
          bottom: .25rem
      =icon-symbol($no, $imgur)
        .symbol.symbol-#{$no}
          background-image: url('https://i.imgur.com/#{$imgur}.png')
      +icon-symbol('00', 'UypLdGj')
      +icon-symbol('01', 'rzIlVRE')
      +icon-symbol('02', '0uFrmiE')
      +icon-symbol('03', 'H1cXhey')
      +icon-symbol('04', 'OTJstJr')
      +icon-symbol('05', 'iOaxRem')
      +icon-symbol('06', 'tyNpKKd')
      +icon-symbol('07', 'yM0HlCC')
      +icon-symbol('08', 'Un767YN')
      +icon-symbol('09', 'vTPVkTM')
      +icon-symbol('10', 'cUoxFdk')
      +icon-symbol('11', 'vhU6HMr')
      +icon-symbol('12', 'vnjU24D')
      +icon-symbol('13', 'tTJyHLY')
      +icon-symbol('14', 'nUqxS4f')
      +icon-symbol('15', '0dqqclK')
      +icon-symbol('16', 'sTZJYps')
      +icon-symbol('17', 'RDjmSW2')
      +icon-symbol('18', 'dBm3Llv')
      +icon-symbol('19', 'D9PNJSc')
      +icon-symbol('20', 'yctfZ3O')
      +icon-symbol('21', 'JNFZzPu')
      +icon-symbol('22', 'HFTrcu2')
      +icon-symbol('23', '8XWjrpV')
      +icon-symbol('24', 'OMGCt2j')

block content
  #app.my-3.container(v-cloak)
    h2.mb-3.text-center 第一類接觸
    select.form-control.mb-3(v-model="i.page")
      option(value="alien1") 1. 外星人 - 展示符號
      option(value="alien2") 2. 外星人 - 編輯已提示的符號
      option(value="earth1") 3. 地球人 - 符號含意
      option(value="earth2") 4. 地球人 - 進貢
    #page-alien1.page(v-if="i.page === 'alien1' && _.isArray(i.alien1)")
      table.table.table-col-5.table-bordered.mb-1
        tr(v-for="fi in 5")
          template(v-for="fj in 5")
            td.p-2(v-for="idx of [fi*5+fj-6]", :class="`bg-${alien1bg[i.alien1[idx]]}`", @click="$set(i.alien1, idx, (i.alien1[idx]+1)%3)")
              .symbol(:class="`symbol-${_.padStart(idx, 2, '0')}`")
              i.fa.fa-eye.text-warning(v-if="i.alien2[idx]")
      small.text-muted #[strong.text-success 綠色底色]代表肯定，#[strong.text-danger 紅色底色]代表否定，#[strong.text-warning 黃色眼睛]代表已提示的符號。
      button.btn.mt-2.btn-block.btn-outline-warning(type="button", @click="btnSaveShownSymbol", tabindex="-1") #[span.fa.fa-fw.fa-eye] 儲存已提示的符號
      button.btn.mt-2.btn-block.btn-outline-danger(type="button", @click="btnResetAlien1", tabindex="-1") #[span.fa.fa-fw.fa-trash-o] 清空本頁面
    #page-alien2.page(v-if="i.page === 'alien2' && _.isArray(i.alien2)")
      table.table.table-col-5.table-bordered.mb-1
        tr(v-for="fi in 5")
          template(v-for="fj in 5")
            td.p-2(v-for="idx of [fi*5+fj-6]", :class="`bg-${alien2bg[i.alien2[idx]]}`", @click="$set(i.alien2, idx, (i.alien2[idx]+1)%2)")
              .symbol(:class="`symbol-${_.padStart(idx, 2, '0')}`")
      small.text-muted #[strong.text-warning 黃色底色]代表已提示的符號。
      button.btn.mt-2.btn-block.btn-outline-danger(type="button", @click="btnResetAlien2()", tabindex="-1") #[span.fa.fa-fw.fa-trash-o] 清空本頁面
    #page-earth1.page(v-if="i.page === 'earth1'")
      table.table.table-col-5.table-bordered.mb-1
        tr(v-for="fi in 5")
          template(v-for="fj in 5")
            td.pt-2.px-2.pb-1.text-nowrap(v-for="idx of [fi*5+fj-6]", @click="i.earth1.cur = idx, adjModal('show')")
              .symbol.mb-1(:class="`symbol-${_.padStart(idx, 2, '0')}`")
              span.badge.badge-info.d-block.mt-1.mx-n1.px-1(v-for="adjId in i.earth1.symbols[idx]") {{ adjs[adjId] }}
      small.text-muted 請點選圖示來選擇形容詞。
      button.btn.mt-2.btn-block.btn-outline-danger(type="button", @click="btnResetEarth1()", tabindex="-1") #[span.fa.fa-fw.fa-trash-o] 清空本頁面
      #modal-adj.modal.text-center(tabindex="-1", ref="adjModal")
        .modal-dialog.modal-dialog-centered
          .modal-content
            .modal-header
              h5.modal-title
                | 選擇符號
                .symbol.d-inline-block.mx-1(:class="`symbol-${_.padStart(i.earth1.cur, 2, '0')}`")
                | 的形容詞
              button.close(type="button", @click="adjModal('hide')"): span &times;
            table.table.table-col-5.table-bordered.mb-0.font-sm
              tr(v-for="fi in 6")
                template(v-for="fj in 5")
                  td.px-1(v-for="adjId of [fi*5+fj-6]", :class="`bg-${earth1AdjClass(adjId)}`", @click="earth1AdjToggle(adjId)") {{ adjs[adjId] }}
            .modal-footer
              button.btn.btn-primary(type="button", @click="adjModal('hide')") 關閉
    #page-earth2.page(v-if="i.page === 'earth2'")
      table.table.table-col-5.table-borderless.mb-0
        tr(v-for="fi in 5")
          template(v-for="fj in 5")
            td.p-1(v-for="idx of [fi*5+fj-6]", @click="$set(i, 'earth2', idx === i.earth2 ? null : idx)")
              .symbol.border.border-dark.rounded-circle(:class="idx === i.earth2 ? 'bg-primary' : ''")
      small.text-muted #[strong.text-primary 藍色底色]代表要進貢的供品，再次點選可以取消。

block script
  script.
    window.vm = new Vue({
      el: '#app',
      data: {
        i: {
          page: 'alien1',
          alien1: null,
          alien2: null,
          earth1: null,
          earth2: null,
        },
        alien1bg: ['white', 'success', 'danger'],
        alien2bg: ['white', 'warning'],
        earth1bg: ['white', 'info'],
        adjs: ['活的', '大的', '食物', '危險', '圓的', '固體', '液體', '尖的', '人類', '植物', '工具', '武器', '金屬', '美麗', '布', '長的', '重的', '明亮', '會飛', '珍貴', '溫暖', '防禦', '知識', '快的', '力量', '1', '2', '3', '4', '5'],
      },
      async mounted () {
        // 自動儲存功能
        try {
          const saved = JSON5.parse(localStorage.getItem(location.pathname))
          if (saved) this.$set(this, 'i', { ...this.i, ...saved })
        } catch (err) {}
        this.$watch('i', () => {
          localStorage.setItem(location.pathname, JSON5.stringify(this.i))
        }, { deep: true })

        if (!this.i.alien1) await this.btnResetAlien1()
        if (!this.i.alien2) await this.btnResetAlien2(true)
        if (!this.i.earth1) await this.btnResetEarth1(true)
      },
      methods: {
        async btnResetAlien1 () {
          this.$set(this.i, 'alien1', _.times(25, _.constant(0)))
        },
        async btnSaveShownSymbol () {
          _.each(this.i.alien1, (v, k) => {
            if (v) this.$set(this.i.alien2, k, 1)
          })
        },
        async btnResetAlien2 (slient = false) {
          if (!slient) {
            const confirm = await Swal.fire({
              cancelButtonColor: '#3085d6',
              cancelButtonText: '保持原樣',
              confirmButtonColor: '#d33',
              confirmButtonText: '重設紀錄',
              focusCancel: true,
              icon: 'warning',
              showCancelButton: true,
              text: '是否重設本頁面的紀錄？',
            })
            if (!confirm.value) return
          }
          this.$set(this.i, 'alien2', _.times(25, _.constant(0)))
        },
        async btnResetEarth1 (slient = false) {
          if (!slient) {
            const confirm = await Swal.fire({
              cancelButtonColor: '#3085d6',
              cancelButtonText: '保持原樣',
              confirmButtonColor: '#d33',
              confirmButtonText: '重設紀錄',
              focusCancel: true,
              icon: 'warning',
              showCancelButton: true,
              text: '是否重設本頁面的紀錄？',
            })
            if (!confirm.value) return
          }
          this.$set(this.i, 'earth1', {
            cur: null,
            symbols: _.times(25, () => []),
          })
        },
        earth1AdjClass (adjId) {
          const idx = _.get(this, 'i.earth1.cur')
          if (_.isNil(idx)) return
          const adjIds = _.get(this, `i.earth1.symbols.${idx}`, [])
          const findAdj = _.indexOf(adjIds, adjId)
          return this.earth1bg[findAdj >= 0 ? 1 : 0]
        },
        earth1AdjToggle (adjId) {
          const idx = _.get(this, 'i.earth1.cur')
          if (_.isNil(idx)) return
          const adjIds = _.get(this, `i.earth1.symbols.${idx}`, [])
          const findAdj = _.indexOf(adjIds, adjId)
          if (findAdj >= 0) {
            adjIds.splice(findAdj, 1)
          } else {
            adjIds.push(adjId)
          }
          this.$set(this.i.earth1.symbols, idx, adjIds)
        },
        adjModal (action) {
          window.jQuery(this.$refs.adjModal).modal(action)
        },
      },
    })
