extends /layouts/dark

block beforehtml
  - const title = 'EasyCard M1 Card Viewer'

block style
  style
    :sass
      [v-cloak]
        display: none
      body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
        font-family: 'Noto Sans TC', sans-serif
      #card
        &, input.form-control
          letter-spacing: -1px
        textarea.form-control
          font-size: 12px
        span.input-group-text
          min-width: 90px
          padding: .25rem 0

block content
  #app.my-3.container-fluid(v-cloak)
    h2.mb-3.text-center=title
    #card.text-monospace.d-flex.flex-column.flex-sm-row
      .mr-sm-3.flex-fill
        .form-group
          label 卡片基本資料
          .row.mx-n1
            .col.px-1
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 卡片編號
                input.form-control(readonly, :value="card?.uid")
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 發卡時間
                input.form-control(readonly, :value="card?.issued")
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 身份別
                input.form-control(readonly, :value="card?.profile?.type")
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 餘額
                input.form-control(readonly, :value="card?.balance")
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 每日限額
                input.form-control(readonly, :value="card?.quota?.daily")
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 限額日期
                input.form-control(readonly, :value="card?.quota?.date")
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 區碼
                input.form-control(readonly, :value="card?.area")
            .col.px-1
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 卡別
                input.form-control(readonly, :value="card?.type")
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 到期時間
                input.form-control(readonly, :value="card?.exp")
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 身份到期
                input.form-control(readonly, :value="card?.profile?.exp")
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 預設加值
                input.form-control(readonly, :value="card?.autoload")
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 單次限額
                input.form-control(readonly, :value="card?.quota?.once")
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 已用限額
                input.form-control(readonly, :value="card?.quota?.used")
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 銀行編號
                input.form-control(readonly, :value="card?.bank")
        .form-group(v-if="card.urt")
          label 轉乘紀錄
          .row.mx-n1
            .col.px-1
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 時間
                input.form-control(readonly, :value="card.urt?.time")
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 轉乘前群組
                input.form-control(readonly, :value="card.urt?.tgc1")
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 交易序號
                input.form-control(readonly, :value="card.urt?.tsqn")
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 交易金額
                input.form-control(readonly, :value="card.urt?.amount")
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 場站編號
                input.form-control(readonly, :value="card.urt?.location")
            .col.px-1
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 舊轉乘群組
                input.form-control(readonly, :value="card.urt?.provider")
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 轉乘後群組
                input.form-control(readonly, :value="card.urt?.tgc2")
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 交易方式
                input.form-control(readonly, :value="card.urt?.type")
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 餘額
                input.form-control(readonly, :value="card.urt?.ev")
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 設備編號
                input.form-control(readonly, :value="card.urt?.device")
        .form-group(v-for="txn of [card.credit]")
          label 最近加值交易 \#{{ txn?.tsqn }}
          .input-group.input-group-sm.mb-1
            .input-group-prepend
              span.input-group-text.justify-content-center 時間
            input.form-control(readonly, :value="txn?.time")
          .row.mx-n1
            .col.px-1
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 交易序號
                input.form-control(readonly, :value="txn?.tsqn")
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 交易金額
                input.form-control(readonly, :value="txn?.amount")
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 業者編號
                input.form-control(readonly, :value="txn?.provider")
            .col.px-1
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 交易方式
                input.form-control(readonly, :value="txn?.type")
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 餘額
                input.form-control(readonly, :value="txn?.ev")
              .input-group.input-group-sm.mb-1
                .input-group-prepend
                  span.input-group-text.justify-content-center 場站編號
                input.form-control(readonly, :value="txn?.location")
          .input-group.input-group-sm.mb-1
            .input-group-prepend
              span.input-group-text.justify-content-center 設備編號
            input.form-control(readonly, :value="txn?.device")
        .form-group
          label 最近扣款交易
          .table-responsive
            table.table.table-sm.table-bordered.table-striped.text-center
              thead: tr.text-nowrap
                th #
                th 時間
                th 交易方式
                th 交易金額
                th 餘額
                th 業者編號
                th 場站編號
                th 設備編號
              tbody
                tr(v-for="txn of card.deducts")
                  th {{ txn?.tsqn }}
                  td {{ txn?.time }}
                  td {{ txn?.type }}
                  td {{ txn?.amount }}
                  td {{ txn?.ev }}
                  td {{ txn?.provider }}
                  td {{ txn?.location }}
                  td {{ txn?.device }}
        .form-group
          label 公車進出站紀錄
        .form-group
          label 捷運進出站紀錄
      .form-group
        label EML (HEX)
        textarea.form-control.form-control-sm(rows="65", cols="32", v-model="i.eml")

block script
  script(src="https://cdn.jsdelivr.net/npm/moment@2/moment.min.js")
  script(src="https://cdn.jsdelivr.net/npm/moment@2/locale/zh-tw.min.js")
  script.
    const arrJoin = arr => arr.join('')
    const arrRevJoin = arr => arr.reverse().join('')
    const btoDatetimeStr = bytes => dayjs.unix(btoUint(bytes) - 28800).format('YYYY-MM-DD HH:mm:ss')
    const btoUint = bytes => _.parseInt(arrRevJoin(bytes), 16)
    const btoDateStr = bytes => {
      const u = btoUint(bytes)
      return u <= 0 ? '未知' : dayjs(`${1980 + (u >> 9)}-${(u >> 5) & 0xF}-${u & 0x1F}`).format('YYYY-MM-DD')
    }
    const btoProvider = byte => {
      let name = ''
      const provider = _.parseInt(byte, 16)
      if (_.inRange(provider, 90, 98) || _.inRange(provider, 110, 115)) name = '微笑單車 '
      return `${name}h=${byte}`
    }
    const btoProfile = (() => {
      const PROFILES = {
        '00': '普通',
        '01': '敬老一',
        '02': '敬老二',
        '03': '愛心',
        '04': '愛陪',
        '05': '學生',
        '06': '軍人',
        '07': '警察',
        '08': '孩童',
      }
      return byte => PROFILES[byte.toUpperCase()] || byte
    })()
    const btoCardType = (() => {
      const TYPES = {
        '00': '一般卡',
        '01': '強制記名卡',
        '02': '一般記名卡',
        '03': '紀念卡',
        '04': '替代卡',
        '05': '特製卡',
        '06': 'IC商品',
        '07': '測試卡',
        '08': '聯名卡',
        '09': '特種票',
        '0A': '數位學生證',
        '0B': '代幣卡',
        '0C': '腳踏車',
        '0D': 'iCash卡',
      }
      return byte => TYPES[byte.toUpperCase()] || byte
    })()
    const btoInt = bytes => {
      const mask = 2 ** (bytes.length * 8 - 1)
      const uint = btoUint(bytes)
      return (mask & uint) ? (uint - mask - mask) : uint
    }
    const btoTxn = bytes => ({
      tsqn: btoInt([bytes[0]]),
      time: btoDatetimeStr(bytes.slice(1, 5)),
      type: `h=${bytes[5]}`,
      amount: btoInt(bytes.slice(6, 8)),
      ev: btoInt(bytes.slice(8, 10)),
      provider: btoProvider(bytes[10]),
      location: `h=${bytes[11]}`,
      device: `h=${arrRevJoin(bytes.slice(12, 16))}`,
    })
    window.vm = new Vue({
      el: '#app',
      data: {
        i: {
          eml: '',
        },
      },
      async mounted () {
        // 自動儲存功能
        try {
          const saved = JSON5.parse(localStorage.getItem(location.pathname))
          if (saved) this.$set(this, 'i', { ...this.i, ...saved })
        } catch (err) {}
        this.$watch('i', () => {
          localStorage.setItem(location.pathname, JSON5.stringify(this.i))
        }, { deep: true })
      },
      computed: {
        bytes () {
          const bytes = this.i.eml.toLowerCase().replace(/-/g, '0').replace(/[^0-9a-f]/g, '')
          if (bytes.length !== 2048) return
          return _.chunk(bytes, 2).map(arrJoin)
        },
        card () {
          const bytes = this.bytes
          if (!bytes) return {}
          const credit = btoTxn(bytes.slice(160, 176)) // 最近加值交易
          const deducts = _.sortBy(_.map([16, 17, 18, 20, 21, 22], blk => btoTxn(bytes.slice(blk * 16, blk * 16 + 16))), ['time'])

          // 處理轉乘資料 Usage TXN Record for Transfer
          const transfers = _.mapKeys(_.map([13, 14], blk => btoTxn(bytes.slice(blk * 16, blk * 16 + 16))), 'tsqn')
          const tsqnUrt = btoUint([bytes[192]])
          const urt = !_.has(transfers, tsqnUrt) ? null : {
            ...transfers[tsqnUrt],
            tgc1: `h=${bytes[204]}`, // 轉乘前群組
            tgc2: `h=${bytes[205]}`, // 轉乘後群組
          }

          return {
            area: `h=${bytes[90]}`, // 區碼
            autoload: btoUint(bytes.slice(81, 83)), // 自動加值
            balance: btoInt(bytes.slice(144, 147)), // 餘額
            bank: `h=${bytes[91]}`, // 銀行編號
            credit, // 最近加值交易
            deducts, // 最近扣款交易
            exp: btoDatetimeStr(bytes.slice(73, 77)), // 有效時間
            issued: btoDatetimeStr(bytes.slice(69, 73)), // 製造時間
            type: btoCardType(bytes[93]), // 卡別
            uid: arrRevJoin(bytes.slice(0, 4)), // 卡片編號
            urt, // 轉乘交易紀錄
            quota: {
              daily: btoUint(bytes.slice(83, 85)), // 日限額金額
              date: btoDateStr(bytes.slice(1003, 1005)), // 日限額日期
              once: btoUint(bytes.slice(85, 87)), // 日限額金額
              used: btoUint(bytes.slice(1005, 1008)), // 日限額金額
            },
            profile: { // 身份別與到期時間
              exp: btoDatetimeStr(bytes.slice(961, 965)),
              type: btoProfile(bytes[960]),
            },
          }
        },
      },
    })
