//- ?inv=eyJpZCI6IlhTMTAwMDAwMDAiLCJkYXRlIjoxNTgxMTAwOTA0LCJjaGVjayI6IjY3MDUiLCJzYWxlc0Ftb3VudCI6MzI0LCJ0b3RhbEFtb3VudCI6MzQwLCJidXllcklkIjoiODQ2OTk1MTUiLCJzZWxsZXIiOiLlvq7nqIvlvI_os4foqIrogqHku73mnInpmZDlhazlj7giLCJzZWxsZXJJZCI6Ijg5Nzk4MTk4IiwiZW5jcnlwdCI6IlduQXpYQzJRaFo0OVZQcFFtUVQ4R1E9PSIsImN1c3RvbSI6IioqKioqKioqKioiLCJkZXRhaWxzIjpbeyJuYW1lIjoi5Lm-6Zu75rGgIiwicXVhbnRpdHkiOjEsInByaWNlIjoxMDV9LHsibmFtZSI6IuWPo-e9qSIsInF1YW50aXR5IjoxLCJwcmljZSI6MjEwfSx7Im5hbWUiOiLniZvlpbYiLCJxdWFudGl0eSI6MSwicHJpY2UiOjI1fV19
doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover, user-scalable=no")
    title 電子發票證明聯
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4/dist/css/bootstrap.min.css")
    style
      :sass
        [v-cloak]
          display: none
        #inv
          width: 300px
          border: 2px solid black
          padding: 28px
          .inv-header
            font-weight: bold
            #seller
              font-size: 20px
            #title
              font-size: 30px
            #peroid, #id
              font-size: 35px
              line-height: 1.05
          .inv-body
            font-size: .8rem
          #barcode-1d
            img
              width: 100%
          #barcode-2d
            margin-top: 20px
            .qr
              width: 105px
              display: inline-block
  body
    .container-fluid.my-3
      #inv.text-monospace
        .inv-header.text-center
          #seller 公司名稱
          #title 電子發票證明聯
          #peroid
          #id
        .inv-body
          #date
          .row
            .col
              #check 隨機碼
              #seller-id 賣方
            .col
              #total-amount 總計
              #buyer-id
        #barcode-1d.my-2
          img#code39
        .row#barcode-2d.text-center
          .col.text-right
            .qr#qr1
          .col.text-left
            .qr#qr2
    script(src="https://cdn.jsdelivr.net/npm/@hapi/joi@17/dist/joi-browser.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bwip-js@2/dist/bwip-js.min.js")
    script(src="https://cdn.jsdelivr.net/npm/js-base64@2/base64.min.js")
    script(src="https://cdn.jsdelivr.net/npm/lodash@4/lodash.min.js")
    script(src="https://cdn.jsdelivr.net/npm/moment@2/moment.min.js")
    script(src="https://cdn.jsdelivr.net/npm/qrcode@1/build/qrcode.min.js")
    script.
      /* global bwipjs, QRCode, Base64 */
      const getQuery = (() => {
        const params = new URL(location).searchParams
        return k => params.get(k)
      })()

      const domById = k => window.document.getElementById(k)
      const encodeBase64url = str => Base64.encode(str).replace(/[+/=]/g, c => _.get({ '+': '-', '/': '_', '=': '' }, c)) // eslint-disable-line
      const joiFn = (schema, options) => value => schema.validateAsync(value, options)
      const pad0 = (v, n) => _.padStart(v, n, '0')

      // 檢查發票的格式
      const invChecker = joiFn(joi.object({
        buyerId: joi.string().regex(/^\d{8}$/).required(),
        check: joi.string().regex(/^\d{4}$/).required(),
        custom: joi.string().length(10).required(),
        date: joi.date().timestamp('unix').required(),
        encrypt: joi.string().base64({ paddingRequired: true }).length(24).required(),
        id: joi.string().regex(/^[A-Z]{2}\d{8}$/).required(),
        salesAmount: joi.number().integer().min(0).required(),
        seller: joi.string().required(),
        sellerId: joi.string().regex(/^\d{8}$/).required(),
        totalAmount: joi.number().integer().min(joi.ref('salesAmount')).required(),
        details: joi.array().items(joi.object({
          name: joi.string().required(),
          quantity: joi.number().integer().min(0).required(),
          price: joi.number().integer().min(0).required(),
        }).required()).required(),
      }), { stripUnknown: true })

      const formatPeriod = date => {
        let [y, m] = [date.year() - 1911, date.month() + 1]
        if (m % 2) m++
        return `${y}年${pad0(m - 1, 2)}-${pad0(m, 2)}月`
      }

      const formatCode39 = inv => {
        const date = inv.date
        const [y, m] = [date.year() - 1911, date.month() + 1]
        const ym = `${y}${pad0(m + m % 2, 2)}`
        const text = `${ym}${inv.id}${inv.check}`
        const canvas = document.createElement('canvas')
        bwipjs.toCanvas(canvas, {
          bcid: 'code39',
          height: 15,
          includecheck: false,
          includetext: false,
          text,
        })
        return canvas.toDataURL('image/png')
      }

      const formatQr = inv => {
        const parts = []

        // part 1
        parts.push(_.map(['id', 'date', 'check', 'salesAmount', 'totalAmount', 'buyerId', 'sellerId', 'encrypt'], k => {
          if (k === 'date') return `${inv[k].year() - 1911}${inv[k].format('MMDD')}`
          if (_.includes(['salesAmount', 'totalAmount'], k)) return pad0(inv[k].toString(16), 8)
          return inv[k]
        }).join(''))

        parts.push(inv.custom)
        parts.push(inv.details.length) // 二維條碼記載完整品目筆數
        parts.push(inv.details.length) // 該張發票交易品目總筆數
        parts.push(1) // UTF-8

        _.each(inv.details, item => {
          parts.push(`${item.name}:${item.quantity}:${item.price}`)
        })

        return parts.join(':')
      }

      const textToQrSvg = (() => {
        const config = {
          version: 6,
          errorCorrectionLevel: 'L',
          margin: 0,
        }
        return text => QRCode.toString(text, config)
      })()

      ;(async () => {
        try {
          // parse invonce
          let inv = getQuery('inv')
          if (!inv) throw new Error('inv is required')
          inv = await invChecker(JSON.parse(Base64.decode(inv)))
          inv.date = moment(inv.date).utcOffset(8)
          console.log(inv)

          // 設定頁面上顯示的資料
          domById('seller').textContent = inv.seller
          domById('peroid').textContent = formatPeriod(inv.date)
          domById('id').textContent = inv.id.replace(/^([A-Z]{2})/, '$1-')
          domById('date').textContent = inv.date.format('YYYY-MM-DD HH:mm:ss')
          domById('check').textContent = `隨機碼 ${inv.check}`
          domById('seller-id').textContent = `賣方 ${inv.sellerId}`
          domById('total-amount').textContent = `總計 ${inv.totalAmount}`
          if (inv.buyerId !== '00000000') domById('buyer-id').textContent = `買方 ${inv.buyerId}`
          domById('code39').src = formatCode39(inv)
          domById('qr1').innerHTML = await textToQrSvg(formatQr(inv))
          domById('qr2').innerHTML = await textToQrSvg('**')
        } catch (err) {
          console.error(err)
        }
      })()
